@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.btn {
  @apply rounded-lg border border-solid border-[#E8E6EA] transition-all ease-in-out duration-300;
}

.btn:active {
  /* @apply relative top-[5px]; */
  transform: scale(0.95);
  @apply rounded-2xl;
}

.full-btn {
  @apply bg-main-red rounded-lg border border-solid border-main-red text-white transition-all ease-in-out duration-300;
}

.full-btn:active {
  /* @apply relative top-[5px]; */
  transform: scale(0.95);
  @apply rounded-2xl;
}

.focus-btn {
  @apply rounded-lg border border-solid border-main-red text-main-red transition-all ease-in-out duration-300;
}

.focus-btn:active {
  transform: scale(0.95);
  @apply rounded-2xl;
}

.disabled-btn {
  @apply rounded-lg border border-solid border-[#E8E6EA] text-[#E8E6EA];
}

.card-border {
  @apply border border-solid border-slate-200;
}

:root {
  --main-pink: rgba(220, 170, 255, 1);
  --main-pink-70: rgba(220, 170, 255, 0.7);
  --main-pink-50: rgba(220, 170, 255, 0.5);
  --main-puple: rgba(112, 0, 255, 1);
  --main-puple-70: rgba(112, 0, 255, 0.7);
  --main-puple-50: rgba(112, 0, 255, 0.5);
  --card-color: rgba(255, 255, 255, 0.9);
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

body {
  overflow: hidden;
  overscroll-behavior-y: contain;
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(31, 38, 135, 0.25);
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--main-puple);
  width: 20px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 9999px;
  box-shadow: 0 4px 15px rgba(31, 38, 135, 0.25);
  box-shadow: -100vw 0 0 calc(100vw - 10px) var(--main-puple-50);
} */

.main {
  /* background-color: #fbf6ff; */
  /* background-image: linear-gradient( */
  /* 180deg, */
  /* rgba(220, 170, 255, 0.2) 0%, */
  /* rgb(248, 237, 255) 0%, rgba(112, 0, 255, 0.2) 100% */
  /* rgb(228, 207, 255) 100% */
  /* ); */
}

.bg-img {
  background-image: url('/park.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.card {
  box-shadow: 0 4px 4px rgba(31, 38, 135, 0.25);
  /* box-shadow: 0 2px 0px rgba(31, 38, 135, 0.3); */
  background-color: rgba(255, 255, 255, 0.9);
}

.mychat {
  box-shadow: 0 4px 15px rgba(31, 38, 135, 0.25);
  /* box-shadow: 0 2px 0px rgba(31, 38, 135, 0.3); */
  background-color: var(--main-puple-50);
  color: white;
}

/* .btn { */
/* border-radius: 9999px; */
/* box-shadow: 0 4px 4px rgba(31, 38, 135, 0.25); */
/* box-shadow: 0 2px 0px rgba(31, 38, 135, 0.3); */
/* background-color: var(--main-pink); */
/* color: white; */
/* } */

/* .btn:active {
  box-shadow: 0 1px 4px rgba(31, 38, 135, 0.25);
  background-color: var(--main-puple-50);
  position: relative;
  top: 5px;
} */

.matching,
.mbti,
.hobby,
.review,
.personality {
  position: relative;
  background: var(--card-color);
  border-radius: 20px;
  animation-name: moveUpDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.matching {
  animation-delay: 1s;
}
.mbti {
  animation-delay: 0.5s;
}
.hobby {
  animation-delay: 1.5s;
}

.mbti:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--card-color);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.matching:after,
.personality:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--card-color);
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.hobby:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: var(--card-color);
  border-top: 0;
  border-right: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.review:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: var(--card-color);
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 2em;
}
.star-rating input[type='radio'] {
  display: none;
}
.star-rating label {
  color: #ddd;
  cursor: pointer;
}
.star-rating input[type='radio']:checked ~ label,
.star-rating input[type='radio']:checked ~ label ~ label {
  color: #ffcc00;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffcc00;
}

.react-datepicker-wrapper {
  width: 100%;
}

progress {
  appearance: none;
}
progress::-webkit-progress-bar {
  /* background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc; */
  /* box-shadow: 0 4px 15px rgba(31, 38, 135, 0.25); */
  /* border-radius: 9999px; */
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: rgba(0, 0, 0, 0);
}
progress::-webkit-progress-value {
  /* border-radius: 10px; */
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background: var(--main-puple);
  background: -webkit-linear-gradient(
    to right,
    var(--main-puple-50),
    var(--main-puple)
  );
  /* background: linear-gradient(to right, #93f9b9, #1d976c); */
  background: linear-gradient(to right, var(--main-pink), var(--main-puple));
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rollingBanner {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media all and (display-mode: standalone) {
  .intallAppBtn {
    display: none;
  }
}
